
<div class="nav navbar-top-links navbar-right" role="navigation">

	<!--a class="dropdown-toggle" data-toggle="dropdown" href="/dashboard">
			<li> dashboard　<i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu dropdown-dashboard">
						<li><a href="/dashboard"> 1주 </a></li>
						<li><a href="/dashboard?days=14"> 2주 </a></li>
						<li><a href="/dashboard?days=30"> 1달 </a></li>
				</ul>
			</li-->

			<li>
				<a href="#" id="reset"><b>RESET</b></a>
			</li>
			<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							 <b>FILTERS</b>　 <i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-user" id="filters">
							<input id="semi-soft" type="checkbox" checked></input><label for="semi-soft">　APT 공격 의심 </label><br />
							<input id="soft" type="checkbox" checked></input><label for="soft">　기타 공격 의심</label><br />
							<input id="white" type="checkbox" checked></input><label for="white">　보안 장비</label><br />
							<input id="red" type="checkbox" checked></input><label for="red">　호스트</label><br />
					</ul>
					<!-- /.dropdown-user -->
			</li>
</td></tr></table>


        <!-- /.dropdown-user -->
<!-- /.sidebar-collapse -->

</div>
