<div class="nav navbar-top-links navbar-right" role="navigation">

	<!--a class="dropdown-toggle" data-toggle="dropdown" href="/dashboard">
			<li> dashboard　<i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu dropdown-dashboard">
						<li><a href="/dashboard"> 1주 </a></li>
						<li><a href="/dashboard?days=14"> 2주 </a></li>
						<li><a href="/dashboard?days=30"> 1달 </a></li>
				</ul>
			</li-->
			<li>
          <a href="/dashboard"><b>DASHBOARD</b></a>
      </li>
			<a class="dropdown-toggle" data-toggle="dropdown" href="/search">
			 <li><b>ANALYSIS</b>　<i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu dropdown-search">
										<li><a href="/search_eq"> 현황 분석 </a></li>
										<li><a href="/search_ip"> 타깃 분석 </a></li>
										<li><a href="/honeypot"> 허니팟 연계 분석 </a></li>
										<li><a href="/blank"> 공격 노드 분석 </a></li>
				</ul>
			 </li>


	<!--a class="dropdown-toggle" data-toggle="dropdown" href="/honeypot">
			<li> honeypot　<i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu dropdown-search">
						<li><a href="/honeypot"> 1주 </a></li>
						<li><a href="/honeypot?days=14"> 2주 </a></li>
						<li><a href="/honeypot?days=30"> 1달 </a></li>
				</ul>
			</li>

<li><a href="/blank"> Node Visualization</a></li>
<!--li><a href="/report"> Setting</a></li-->


        <!-- /.dropdown-user -->
<!-- /.sidebar-collapse -->

				<li class="dropdown">
		        <a class="dropdown-toggle" data-toggle="dropdown" href="/logout">
		             <b>SETTINGS</b>　 <i class="fa fa-caret-down"></i>
		        </a>
		        <ul class="dropdown-menu dropdown-user">

		            <li><a href="/logout">로그아웃</a>
	            </li>
		        </ul>
		        <!-- /.dropdown-user -->
		    </li>				<!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
