<div class="nav navbar-top-links navbar-right" role="navigation"> 
				<li><a href="/board"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
				<li><a href="/blank"><i class="fa fa-search"></i> Search</a></li>
                <li><a href="/report"><i class="fa fa-files-o fa-fw"></i> Report</a></li>
                <li><a href="/blank"><i class="fa fa-wrench fa-fw"></i> Setting</a></li>
				<!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->