<style>
.modal-backdrop.in {
    opacity: 0.7;
}
.modal-backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    background-color: #000;
}
.modal {
  background: transparent none;
}
.modal-content {
  box-shadow: 10px 20px 20px #444;
  background-color: #333;
  fill: #000;border-radius: 1px;
  color: #eee;
}
.modal-header {
    border-bottom: 2px solid #444;
}
</style>

<div class="modal-header">
    <!-- 닫기(x) 버튼 -->
  <button type="button" class="close" data-dismiss="modal">×</button>
  <!-- header title -->
  <h4 class="modal-title">기타 로그 테이블</h4>
</div>
<!-- body -->
<div class="modal-body">
    <table><thead><tr><th data-sort="name">장비명</th><th data-sort="name">로그 건 수</th></tr></thead>
      <tbody>
        <tr>
          <td>Syslog</td><td><%=nums[2].num%></td></tr><tr>
          <td>Mail Server</td><td><%=nums[0].num%></td></tr><tr>
          <td>Web Server</td><td><%=nums[1].num%></td>
        </tr></tbody></table>
</div>
<!-- Footer -->
</div>
<script src="../js/sortable.js"></script>
