<style>
#container2 {
    height: 400px;
    width: 712px;
    margin: 0 auto;
}

.highcharts-tooltip>span {
    padding: 10px;
    white-space: normal !important;
    width: 200px;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.f32 .flag {
    vertical-align: middle !important;
}
</style>
<script src="highchart/highcharts.js"></script>
<script type="text/javascript" src="highchart/maps.js"></script>
<script src="highchart/mapdata.js"></script>
<!--script src="highchart/mapexporting.js"></script-->
<script src="highchart/world.js"></script>

<!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE -->
<link rel="stylesheet" type="text/css" href="highchart/flags32.css" />


<div id="container2"></div>
<script>
document.addEventListener("DOMContentLoaded", function(event) {

  $(function () {

  //  $.getJSON('http://192.168.33.26/jsonp.php?filename=world-attacker-density-<%=date%>.json&callback=?', function (data) {
  var data2 = [];
  <% for (var i = 0; i < map_data.length; i++) {%>
  data2.push({"code":"<%=map_data[i].code%>","value" : <%=map_data[i].value%>, "name" : "<%=map_data[i].country%>"});
  <% } %>
          // Initiate the chart
          $('#container2').highcharts('Map', {

              title : {
                  text : '국가별 공격 시도 분석 결과'
              },

              mapNavigation: {
                  enabled: true,
                  buttonOptions: {
                      verticalAlign: 'bottom'
                  }
              },

              colorAxis: {
                  min: 1,
                  max: 1000,
                  type: 'logarithmic'
              },

              series : [{
                  data : data2,
                  mapData: Highcharts.maps['custom/world'],
                  joinBy: ['iso-a2', 'code'],
                  name: '공격 시도 횟수',
                  states: {
                      hover: {
                          color: '#BADA55'
                      }
                  },
                  tooltip: {
                      valueSuffix: '번의 공격 시도'
                  }
              }]
          });
//      });
  });



});
</script>
<script type="text/javascript" src="highchart/dark-unica.js"></script>
