
<script src="highchart/drilldown.js"></script>

<div id="container4" style="min-width: 350px; max-width: 610px; height: 320px; margin: 0 auto"></div>

<!-- Data from www.netmarketshare.com. Select Browsers => Desktop share by version. Download as tsv. -->

<script>

document.addEventListener("DOMContentLoaded", function(event) {
    $('#container4').highcharts({
        chart: {
            type: 'pie'
        },
        title: {
            text: 'APT 공격 단계별 분석'
        },
        subtitle: {
            text: ''
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },
        series: [{
            name: 'IP',
            colorByPoint: true,
            data: [{
                name: '1',
                y: 56.33,
                drilldown: '1'
            }, {
                name: '2',
                y: 24.03,
                drilldown: '2'
            }, {
                name: '3',
                y: 10.38,
                drilldown: '3'
            }, {
                name: '5',
                y: 4.77,
                drilldown: '5'
            }, {
                name: '4',
                y: 0.91,
                drilldown: '4'
            }, {
                name: '6',
                y: 0.2,
                drilldown: null
            }]
        }],
        drilldown: {
            series: [{
                name: '1',
                id: '1',
                data: [
                    ['v11.0', 24.13],
                    ['v8.0', 17.2],
                    ['v9.0', 8.11],
                    ['v10.0', 5.33],
                    ['v6.0', 1.06],
                    ['v7.0', 0.5],
                ]
            }, {
                name: '2',
                id: '2',
                data: [
                    ['v40.0', 5],
                    ['v41.0', 4.32],
                    ['v42.0', 3.68],
                    ['v39.0', 2.96],
                    ['v36.0', 2.53],
                    ['v43.0', 1.45],
                    ['v31.0', 1.24],
                    ['v35.0', 0.85],
                    ['v38.0', 0.6],
                    ['v32.0', 0.55],
                    ['v37.0', 0.38],
                    ['v33.0', 0.19],
                    ['v34.0', 0.14],
                    ['v30.0', 0.14]
                ]
            }, {
                name: '3',
                id: '3',
                data: [
                    ['v35', 2.76],
                    ['v36', 2.32],
                    ['v37', 2.31],
                    ['v34', 1.27],
                    ['v38', 1.02],
                    ['v31', 0.33],
                    ['v33', 0.22],
                    ['v32', 0.15]
                ]
            }, {
                name: '5',
                id: '5',
                data: [
                    ['v8.0', 2.56],
                    ['v7.1', 0.77],
                    ['v5.1', 0.42],
                    ['v5.0', 0.3],
                    ['v6.1', 0.29],
                    ['v7.0', 0.26],
                    ['v6.2', 0.17]
                ]
            }, {
                name: '4',
                id: '4',
                data: [
                    ['v12.x', 0.34],
                    ['v28', 0.24],
                    ['v27', 0.17],
                    ['v29', 0.16]
                ]
            }]
        }
    });
});

</script>
<script src="highchart/dark-unica.js"></script>
