<style>
.highcharts-title * {
  font-family: "Dotum";
}

.highcharts-drilldown-data-label * {
  fill: #aaa;
}

</style>

<script src="highchart/highstock.js"></script>
<script src="highchart/drilldown.js"></script>

<div id="pie5" style="min-width: 700px; max-width: 700px; height: 400px; margin: 0 auto"></div>

<!-- Data from www.netmarketshare.com. Select Browsers => Desktop share by version. Download as tsv. -->

<script>

document.addEventListener("DOMContentLoaded", function(event) {
var ip='<% for(var i in table_data){%><%=table_data[0].srcip%><%break;}%>';
var an='';
    $('#pie5').highcharts({
        chart: {
            type: 'pie'
        },
        title: {
            text: '공격 시도 분석 결과'
        },
        subtitle: {
            text: ''
        },
        tooltip:{
          formatter: function () {
              an=this.point.options.name;
              return '<span style="font-size:12px">'+this.point.series.name+ '</span><br>'+'<span style="color:'+this.point.options.color+'">'+this.point.options.name+'</span>: <b>'+this.point.options.y+'</b>번의 공격 시도<br/>';
          }
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: false,
                    format: '{point.name}'

                }
            },
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                events: {
                  click: function () {
                      var url = 'search_ip_ajax?ip='+ip+'&an='+an;
                      window.open(url,'_blank');
                   },
                },
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            name: '공격명',
            colorByPoint: true,
            data: [
              <% for (i in ip_data){ if(ip_data[i].attackname != null){%>
              {
                name: '<%= ip_data[i].attackname%>',
                y: <%= ip_data[i].count%>,
                drilldown: '<%= ip_data[i].attackname%>'
              },
              <%}}%>
        ]}],
        drilldown: {
            series: [
              {
              },
            ]
        }
    });
});

</script>
<script src="highchart/dark-unica.js"></script>
