<style>
.highcharts-title * {
  font-family: "Dotum";
}

.highcharts-drilldown-data-label * {
  fill: #aaa;
}

</style>

<script src="highchart/highstock.js"></script>
<script src="highchart/drilldown.js"></script>

<div id="pie6" style="min-width: 460px; max-width: 610px; height: 320px; margin: 0 auto"></div>

<!-- Data from www.netmarketshare.com. Select Browsers => Desktop share by version. Download as tsv. -->

<script>

document.addEventListener("DOMContentLoaded", function(event) {
    $('#pie6').highcharts({
        chart: {
            type: 'pie'
        },
        title: {
            text: 'APT 공격 단계별 분석 결과'
        },
        subtitle: {
            text: ''
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b>번의 공격 시도<br/>'
        },
        series: [{
            name: 'APT 공격',
            colorByPoint: true,
            data: [{
                name: '1단계',
                y: 56.33,
                drilldown: '1'
            }, {
                name: '2단계',
                y: 24.03,
                drilldown: '2'
            }, {
                name: '3단계',
                y: 10.38,
                drilldown: '3'
            }, {
                name: '4단계',
                y: 4.77,
                drilldown: '5'
            }, {
                name: '5단계',
                y: 0.91,
                drilldown: '4'
            }, {
                name: '6단계',
                y: 0.2,
                drilldown: null
            }]

        }],
        drilldown: {
            series: [
              {

              },
            ]
        }
    });
});

</script>
<script src="highchart/dark-unica.js"></script>
