<%layout('../layout')%>
<style>
#page-wrapper {
  background-color: black;
}
a {
  color: #e1e1e1;
}
</style>
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">

        <!-- /.row -->
    		<div class="row">
          <br>
            날짜를 잘못 선택하셨습니다.<br>
            <a href="#" onClick="self.location.href=document.referrer">뒤로가기</a>
    		</div>
        <!-- row -->
    </div>
    <!-- /.container-fluid -->
</div>
