<%layout('../layout')%>
<style>
#page-wrapper {
  background-color: #222;
}
a {
  color: #e1e1e1;
}
</style>
<div id="page-wrapper">
  <br>
  <div class="row">
    <section class="col-lg-6 ">
      <% include ../highchart/line3 %>
    </section>
    <section class="col-lg-6">
      <% include ../highchart/map2 %>
    </section>
  </div>
  <br>
  <div class="row">
    <section class="col-lg-12 connectedSortable">
      <% include ../highchart/bar_drill2 %>
    </section>
  </div>
  <br><br>
	<!-- /.row -->
</div>
<!-- d3 -->
