<div class="modal-body">
  <table class="sortable table table-inverse table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th data-sort="name">탐지장비</th>
        <th data-sort="name">탐지횟수</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>MAIL</td><td><%=nums[2].num%></td>
</tr><tr>
          <td>syslog</td><td><%=nums[3].num%></td>
</tr><tr>	  <td>WEB</td><td><%=nums[4].num%></td>
</tr>
    </tbody>
  </table>
</div>
