<%layout('../layout')%>
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Report</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    		<div class="row">

          <div class="col-lg-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                군집화 테스트
              </div>
              <div class="panel-body">
                <div class='circle_body'></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                군집화 테스트
              </div>
              <div class="panel-body">
                <div class='circle_body2'></div>
              </div>
            </div>
          </div>

    		</div>
        <!-- row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<% include ../d3/circle %>
<% include ../d3/circle2 %>
<!-- script -->
<script type="text/javascript" src="../d3/d3.v3.js"></script>
<script type="text/javascript" src="../d3/d3.min.js"></script>
