<%layout('../layout')%>
<style>
#node {
	width: 40;
	height: 40;
	font-size: 10;
	font-weight: bold;
	min-zoomed-font-size: 4;
	content: data(name);
	text-valign: center;
	text-halign: center;
	color: #000;
	text-outline-width: 2;
	text-outline-color: #fff;
	text-outline-opacity: 1;
	overlay-color: #fff;
}
</style>
<div id="page-wrapper">
    <div class="row">
<br>
    </div>
    <!-- /.row -->
    <div class="map">

      <% include ../d3/map3 %>
    </div>
</html>
