<%layout('../layout')%>
<style>
.tmp{
	
}
</style>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row"><br>
            <!-- /.col-lg-12 -->
			<div class="col-lg-12">
				<div class="tmp">
                  <div class="map"></div>
                  <% include ../d3/map3 %>
                </div>
			</div>
        </div>
	</div>
</div>